<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Simple Scrape - concert listings</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
</head>
<body>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-hover">
      <% @concerts.each do |concert| %>
       <thead>
          <tr>
            <th>Artist</th>
            <th>Time</th>
            <th>Date</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= concert.at_css('.headliners.summary').text.strip %></td>
            <% if !concert.at_css('.doors').nil? %>
              <td><%= concert.at_css('.doors').text.strip %></td>
            <% else %>
              <td><%= "No Data" %></td>
            <% end %>
            <td><%= concert.at_css('.dates').text.strip %></td>
            <% if !concert.at_css('.custom').nil? %>
              <td><%= "SOLD OUT!" %></td>
            <% else %>
              <td><%= concert.at_css('.price-range').text.strip %></td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</body>
</html>
